<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a routerLink="" class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="collapsibleNav" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies" routerLinkActive="link-active">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categories" routerLinkActive="link-active">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dayprop" routerLinkActive="link-active">Day Proposal</a>
            </li>
            <li>
                <button class="btn btn-default nav-link">Logout</button>
            </li>
        </ul>
    </div>
</nav>