<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Movie Tips</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="myNav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Movies</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Day Proposal</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button class="btn btn-default navbar-btn">Logout</button>
            </ul>
        </div>
    </div>
</nav>